html {
  scroll-behavior: smooth;
}

body {
    margin: 0% auto;
    background-image: linear-gradient(#513c9b,#ae83e4,#ad80e4e8,#bb48aa, #ca42a8,#fa347d,#fd145b,#fa5263ab);
}
  
  .navigation {
      width: 100%;
      top: 0px;
      position: fixed;
      position: sticky;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px; 
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 25px;
      justify-content: space-between;
      }
  
  .logo-name-together {
        display: flex;
        align-items: center;
  }

  .inline-block {
      display: inline-block;
      vertical-align: top;
      padding: 3px 10px 0px 10px;
  }
    
  nav ul {
    color: #f1caaa;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    list-style: none;
    float: right;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    }
  
   
  .content {
      width: 400px;
      margin: 0 auto;
      margin-top: 60px;
      text-align: left;
  }
  
  footer {
      background-color: rgb(105, 100, 100);
      width: 100%;
      bottom: 0px;
      position: sticky;
      position: fixed;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
  }
  
  footer ul {
    border-bottom-width: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
  }
  
  a:link {
      color: white;
      text-decoration: line;
  }
  a:visited {
      color: white;
      text-decoration: none;
  }
  a:hover {
      color: white;
      text-decoration: none;
  }
  a:active {
      color: white;
      text-decoration: none;
  }
  
  html, body {
      width: 100%;
      padding: 0px;
      margin: 0px;
      overflow-x: hidden;
    }
  
  h1{
    font-size: 60px;
    text-align: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
  }
  
  h2 {
    font-size: 45px;
    text-align: left;
    color: black;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
.row {
  padding-top: 8%;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


a {
  color:black;
  text-decoration: none;
  cursor: pointer;
}