html {
  scroll-behavior: smooth;
}

body {
    margin: 0% auto;
    background-image: linear-gradient(#513c9b,#6d3ea6,#a42d93, #ac288c,#fe0a62,#fd145b,#f83347);
}

.logo-name-together {
  display: flex;
  align-items: center;
}

.navigation {
      top: 0px;
      position: fixed;
      position: sticky;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px; 
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 25px;
      justify-content: space-between;
      }
  
.inline-block {
      display: inline-block;
      vertical-align: top;
      padding: 3px 10px 0px 10px;
  }
  
.lorisLogo {
    width: 10px;
    }
  
.name{
    text-align: center;
    vertical-align: middle;
    }
  
nav ul {
    color: #f1caaa;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    list-style: none;
    float: right;
  }
  
nav ul li {
    margin-left: 20px;
  }

.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 3px 10px 0px 10px;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}

html, body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

#list-unstyled {
  color: black;
  font-size: large;
  font-weight: light;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-size: x-large;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  h1{
    font-size: 60px;
    text-align: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h2 {
    font-size: 45px;
    text-align: center;
    color: black;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  h3 {
    font-weight: bold;
  }

  h4 {
    font-style: italic;
  }

  .sectionCTA {
      padding: 1em 1.5em; /* adds space between text and border of button */
      border: solid 1.5px silver;
      border-radius: 10px; /* rounds corners of button */
      box-shadow: .5em .5em #bbb; 
      text-align: center; /* centers text in button */
      white-space: nowrap;
      width: 20%;
      }


footer {
    background-color: rgb(105, 100, 100);
    width: 100%;
    bottom: 0px;
    position: sticky;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

footer ul {
  border-bottom-width: 10px;
  padding-top: 5px;
  padding-left: 20px;
}

#CSLink {
  color: black;
  text-decoration: none;
}

#CSLink visited {
  color: black;
  text-decoration: none;
}



.grid {
    gridGap: 24px;
    grid-gap: var(--gridGap);
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-rows: auto;
    padding-left: 24px;
    padding-right: 24px;
}

*, :after, :before {
  box-sizing: border-box;
}

.row {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media only screen and (max-width:600px) {
  body {
    background-color: white;
  }
  .container {
    width: 100%;
  }
  .button {
    float: center;
  }
  .img {
    object-fit: contain;
  }
  .sectionCTA {
    float: center;
  }
}
  
